<footer class="footer">
  <div class=" row text-center">
    <div class="col">
      <p>
        <br>
        <b>No <i class="fa fa-copyright"></i> Copyright issues.</b><br>
        Feel free to copy or contact me I will help you.
      </p>
    </div>
    <div class="col">
      <p class="footTitle">
        Bharath J Reddy
      </p>
      <p class="madewithlove">
        Made with <i class="fa fa-heart fa-beat" style="color: rgb(167, 49, 40);"></i> in Myself
      </p>
    </div>
    <div class="col">
      <p class="text-center">
        <br>
        You can find me
      </p>
      <div class="social-icons" style="margin-left: 30%;">
        <app-social-icons [size]="1"></app-social-icons>
      </div>
    </div>
  </div>
</footer>