<ul class="social-icons">
    <li>
        <a href="https://in.linkedin.com/in/bharath857" target="_blank" class="social-icon">
            <i class="fab fa-linkedin fa-2x linkedin"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/bharath857" target="_blank" class="social-icon">
            <i class="fab fa-github fa-2x  github"></i>
        </a>
    </li>
    <li>
        <a href="mailto:bharath.reddy.857@gmail.com" target="_blank" class="social-icon">
            <i class="fab fa-google-plus fa-2x mail"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/Bharath26673523" target="_blank" class="social-icon">
            <i class="fab fa-twitter fa-2x  twitter"></i>
        </a>
    </li>
    <li>
        <a href="https://api.whatsapp.com/send?phone=+919886752489" target="_blank" class="social-icon">
            <i class="fab fa-whatsapp fa-2x whatsapp"></i>
        </a>
    </li>
</ul>