<div class="services bg-grey">
    <div class="section-title">
        <h1>Services</h1>
        <div class="underline"></div>
    </div>
    <div class="services-center section-center">

        <div class="service" >
            <i class="fas fa-code service-icon"></i>
            <h4>web development</h4>
            <div class="underline"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                corrupti animi saepe quasi excepturi cupiditate voluptate dolor sed
                obcaecati vero.
            </p>
        </div>

        <div class="service">
            <i class="fab fa-sketch service-icon"></i>
            <h4>web design</h4>
            <div class="underline"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                corrupti animi saepe quasi excepturi cupiditate voluptate dolor sed
                obcaecati vero.
            </p>
        </div>

        <div class="service" >
            <i class="fab fa-android service-icon"></i>
            <h4>app design</h4>
            <div class="underline"></div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                corrupti animi saepe quasi excepturi cupiditate voluptate dolor sed
                obcaecati vero.
            </p>
        </div>
    </div>
</div>