<!-- <section class="section skills">
 
  <div class="section-title">
    <h2>Skills</h2>
    <div class="underline"></div>
  </div>
  <div class="section-center skills-center" style="margin-bottom: 4rem;">
    <article>
      <h3>Front end</h3>
      <div class="skill">
        <p>Angular 2+</p>
        <div class="skill-container">
          <div class="skill-value" style="width: 80% !important;"></div>
          <p class="skill-text" >
            80%
          </p>
        </div>
      </div>
      <div class="skill">
        <p>Javascript</p>
        <div class="skill-container">
          <div class="skill-value" style="width: 75% !important;"></div>
          <p class="skill-text">
            75%
          </p>
        </div>
      </div>
      <div class="skill">
        <p>Material, Ng-Lightning, ng-bootstrap</p>
        <div class="skill-container">
          <div class="skill-value" style="width: 90% !important;"></div>
          <p class="skill-text" style="left: 90% !important;">
            90%
          </p>
        </div>
      </div>
    </article>
    <article>
      <h3>Back end</h3>
      <div class="skill">
        <p>Node</p>
        <div class="skill-container">
          <div class="skill-value" style="width: 70% !important;"></div>
          <p class="skill-text">
            70%
          </p>
        </div>
      </div>
      <div class="skill">
        <p>Mongo DB</p>
        <div class="skill-container">
          <div class="skill-value" style="width: 30% !important;"></div>
          <p class="skill-text ">
            30%
          </p>
        </div>
      </div>
    </article>
  </div>
</section> -->

<section class="text-center pb-5 Skills" id="Skills">
  <br>
  <br>
  <br>
  <div class="container">
    <div class="section-title">
      <h2>Skills</h2>
      <div class="underline"></div>
    </div>
    <div class="row text-center">

      <div class="col m-3">
        <div class="card-body">
          <img class="card-img-top img-fliud" src="../assets/angular.png" alt="Card image cap" style="height:100px;width:150px">
          <h2 class="card-title">Angular 2+</h2>
          <p>Material, Ng-Lightning, Ng-bootstrap</p> 
        </div>
      </div>

      <div class="col m-3">
        <div class="card-body">
          <img class="card-img-top img-fliud" src="../assets/node.png" alt="Card image cap" style="height:100px;width:150px">
          <h2 class="card-title">Node</h2>
          <p>Express.js, Socket.io, EJS </p> 
        </div>
      </div>

      <div class="col m-3">
        <img class="card-img-top img-fliud" src="../assets/db.jpg" alt="Card image cap" style="height:100px;width:150px">
        <div class="card-body">
          <h2 class="card-title">Database</h2>
          <p>Mongo Db </p> 
        </div>
      </div>

    </div>  
    <!------------------------------------------------------------------------------------------------->
    <div class="row text-center">  
    <div class="col m-3">
        <div class="card-body">
          <img class="card-img-top img-fliud" src="../assets/testing.jpg" alt="Card image cap" style="height:100px;width:150px">
          <h2 class="card-title">Selenium</h2>
          <p>Java, Gradel, Vb Script </p> 
        </div>
      </div>

     
      <div class="col m-3">
        <div class="card-body">
          <img class="card-img-top img-fliud" src="../assets/Java.webp" alt="Card image cap" style="height:100px;width:150px">
          <h2 class="card-title">Java</h2>
          <p>Java, Maven</p> 
        </div>
      </div>
      
      <div class="col m-3">
        <div class="card-body">
          <img class="card-img-top img-fliud" src="../assets/otherskills.jpeg" alt="Card image cap" style="height:100px;width:150px">
          <h3 class="card-title text-primary">Other Skills</h3>
          <p></p><h6><strong>Version Control</strong>: Git, GitBash, BitBucket <br> 
          <strong>Methodologies</strong>: Agile, Kanban, ALM-Waterfall</h6><p></p>
        </div>
      </div>
    </div>
  </div>
</section>