<section class="section timeline">
    <!-- section title -->
    <div class="section-title text-center">
      <h2>Timeline</h2>
      <div class="underline"></div>
    </div>
    <!--end of section title -->
    <div class="section-center timeline-center">
      <!-- single timeline item -->
      <article class="timeline-item">
        <h4>2022</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          consequuntur voluptates tempore numquam? Quidem incidunt fugit quasi
          autem, ea excepturi.
        </p>
        <span class="number">
          1
        </span>
      </article>
      <!-- end of  single timeline item -->
      <!-- single timeline item -->
      <article class="timeline-item">
        <h4>2021</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          consequuntur voluptates tempore numquam? Quidem incidunt fugit quasi
          autem, ea excepturi.
        </p>
        <span class="number">
          2
        </span>
      </article>
      <!-- end of  single timeline item -->
      <!-- single timeline item -->
      <article class="timeline-item">
        <h4>2020</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          consequuntur voluptates tempore numquam? Quidem incidunt fugit quasi
          autem, ea excepturi.
        </p>
        <span class="number">
          3
        </span>
      </article>
      <!-- end of  single timeline item -->
      <!-- single timeline item -->
      <article class="timeline-item">
        <h4>2018</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          consequuntur voluptates tempore numquam? Quidem incidunt fugit quasi
          autem, ea excepturi.
        </p>
        <span class="number">
          4
        </span>
      </article>
      <!-- end of  single timeline item -->
    </div>
  </section>