<section class="section timeline">
  <!-- section title -->
  <div class="section-title text-center">
    <h2>Timeline</h2>
    <div class="underline"></div>
  </div>
  <!--end of section title -->
  <div class="section-center timeline-center">
    <!-- single timeline item -->
    <!--  <article class="timeline-item">
      <h4>2022</h4>
      <p>
        -> Making angular resuable code as part on one stop to all angular solution's going in depth npm library's.
      </p>
      <br>
      <p>
        -> Working towards achieving Digital Signature Algorithm, Working on technology's like Nodejs, c#, .Net
      </p>
      <span class="number">
        1
      </span>
    </article> -->
    <!-- end of  single timeline item -->
    <!-- single timeline item -->
    <!--  <article class="timeline-item">
        <h4>2021</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          consequuntur voluptates tempore numquam? Quidem incidunt fugit quasi
          autem, ea excepturi.
        </p>
        <span class="number">
          2
        </span>
      </article> -->
    <!-- end of  single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">

      <button class="about-me-btn" mat-raised-button style="color: white;">2019-2022-Present</button>

      <ul>
        <li>
          Currently working as software developer, working on technologies like Angular, C#, React, Nodejs.
        </li>
        <li>
          As part of my work, I have worked on following aspects
        </li>
        <li>
          Worked with leadership team to Design and Architech of application(focus area was front-end)
        </li>
        <li>
          Write resuable code as part of team, this directly impacted in timesaving across of multiple projects.
          This was done by creating librarys which team could reuse based upon functionality
        </li>
        <li>
          Wrote functional unit test cases in angular using karma and jasmine this directly impacted in reducing time
          for UAT team(testing team)
        </li>
        <li>
          Worked on CI/CD pipelines for smooth delivery of software through SDLC via Automation
        </li>
        <li>
          Setup the process of documentation in better understanding on application
        </li>
      </ul>

      <span class="number">
        2
      </span>
    </article>
    <!-- end of  single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <button class="about-me-btn" mat-raised-button style="color: white;">2018-2019</button>

      <p>
        Started career in TCS as Automation Engineer,I have worked on technologies like VB script, UFT, Selenium.
        I was able to create an impact both in terms of time and cost reduction of projects using the automation
        framework.
      </p>
      <span class="number">
        1
      </span>
    </article>
    <!-- end of  single timeline item -->
  </div>
</section>