<div *ngIf="false" class="about-page row">
    <div class="about-me-image col-lg-3 col-md-3 col-sm-12">
        <div class="about-me-img">
            <img class="user-me-img" src="../assets/hiro2.jpg" alt="about img" />
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12">

    </div>
    <div class="about-introduction col-lg-6 col-md-6 col-sm-12">
        <h1>About</h1>
        <div class="underline"></div>
        <p class="text-muted introduction">
            I am an aspiring software developer interested to learn, build, scale
            and deploy applications End to End. I am ambitious and adventurous and
            also excited to be at the learning phase of my career to learn and explore new things.
        </p>

        <button class="about-me-btn" mat-raised-button routerLink="/about">About me</button>
    </div>
</div>


<div class="about-page">
    <div class="row">
        <div class="about-me-image col-lg-3 col-md-3 col-sm-12">
            <div class="about-me-img">
                <img class="user-me-img" src="../assets/hiro2.jpg" alt="about img" />
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12">

        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="about-introduction">
                <h1>About</h1>
                <div class="underline"></div>
                <p>
                    I am a software developer interested to learn, build, scale
                    and deploy applications End to End. I am ambitious and adventurous and
                    also excited to be at the learning phase of my career to learn and explore new things.
                </p>
                <p>
                    I am currently working as an Full stack developer helping in End to End development, deployment and maintaince of applications
                    using technologies like Angular, React, .Net and Nodejs. 
                </p>
                <br>
                <p>
                    I am interested towards learning, building and scaling software applications by acquiring new skills.
                </p>
                <button class="about-me-btn" mat-raised-button routerLink="/about" style="color: white;">About me</button>
            </div>

        </div>
    </div>
</div>


<div *ngIf="false" class="about-me-introduction">
    <div class="title">
        <h1 class="text-center" style="font-size:4rem ;">About Me</h1>
        <div class="underline" style="justify-content: center;display: flex; margin-left: 45%;"></div>
    </div>

    <p class="text-muted introduction">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quae,
        eum maiores est enim earum fugiat aspernatur. Fuga qui iste amet
        reiciendis possimus rerum omnis recusandae molestias error
        consequuntur, doloribus inventore reprehenderit officiis. Dolore
        aut, repellendus eius fugiat numquam cumque.
    </p>
</div>