<section class="section projects bg-grey" style="margin-bottom: 3rem;">
    <!-- section title -->
    <div class="section-title">
      <h2>Latest Works</h2>
      <div class="underline"></div>
      <p class="projects-text" style="text-align: justify ;">
        
      </p>
    </div>
    <!--end of section title -->
    <div class="section-center projects-center" style="margin: 0 10%">
      <!-- single project -->
      <a href="https://github.com/bharath857/task-manager-ui" target="_blank" class="project-1">
        <article class="project">
          <img src="../assets/back1.png" alt="single project" class="project-img" />
          <div class="project-info">
            <h4>Task Manager</h4>
          </div>
        </article>
      </a>
      <!-- end of single project -->
      <!-- single project -->
      <a href="https://github.com/bharath857/weather-app-deploy" target="_blank" class="project-2" style="width: 70% !important;">
        <article class="project">
          <img src="../assets/web.jfif" alt="single project" class="project-img" width="110%"/>
          <div class="project-info">
            <h4>Weather App</h4>
          </div>
        </article>
      </a>
      <!-- end of single project -->
      <!-- single project -->
      <a href="https://github.com/bharath857/Company_employee_information_system" target="_blank" class="project-3">
        <article class="project special">
          <img src="../assets/back2.webp" alt="single project" class="project-img" width="110%" />
          <div class="project-info">
            <h4>Company employee information system</h4>
          </div>
        </article>
      </a>
      <!-- end of single project -->
    </div>
  </section>