<section class="section projects bg-grey" >
    <!-- section title -->
    <div class="section-title">
      <h2>Latest Works</h2>
      <div class="underline"></div>
      <p class="projects-text" style="text-align: justify ;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        repudiandae cupiditate ea facilis incidunt, non sapiente! Debitis
        magnam, earum assumenda obcaecati cum quaerat facere ratione molestiae
        dignissimos aliquid blanditiis architecto voluptates delectus
        voluptate animi nulla! Autem explicabo perspiciatis officia ea.
      </p>
    </div>
    <!--end of section title -->
    <div class="section-center projects-center" style="margin: 0 10%">
      <!-- single project -->
      <a href="projects.html" class="project-1">
        <article class="project">
          <img src="../assets/back1.png" alt="single project" class="project-img" />
          <div class="project-info">
            <h4>project title</h4>
            <p>client name</p>
          </div>
        </article>
      </a>
      <!-- end of single project -->
      <!-- single project -->
      <a href="projects.html" class="project-2" style="width: 70% !important;">
        <article class="project">
          <img src="../assets/web.jfif" alt="single project" class="project-img" width="110%"/>
          <div class="project-info">
            <h4>project title</h4>
            <p>client name</p>
          </div>
        </article>
      </a>
      <!-- end of single project -->
      <!-- single project -->
      <a href="projects.html" class="project-3">
        <article class="project">
          <img src="../assets/back2.webp" alt="single project" class="project-img" width="110%" />
          <div class="project-info">
            <h4>project title</h4>
            <p>client name</p>
          </div>
        </article>
      </a>
      <!-- end of single project -->
    </div>
  </section>